


.menu {
  position: fixed;
  padding: 20px;
  width: 100%;
  top: 50px;
  transform: translateX(-100%);
  z-index: 10000;
  height: calc(100vh - 50px);
  background-color: white;
  transition: all ease-in-out 0.3s;
}
.menu-item {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  cursor: pointer;
  color: var(--color-text);
  font-size: 17px;
  font-weight: 700;
  border-bottom: dotted 1px var(--color-text) ;
}
.menu-item:hover .navigation-item-icon{
  transform: rotate(270deg);
}
.signin {
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  padding: 7px 30px;
  border: solid 2px black;
  border-radius: 25px;
  transition: all ease-in-out 0.3s;
  text-align: center;
}
.signin:hover {
  color: var(--color-danger);
  text-decoration: underline solid 1px var(--color-danger);  
}
.signup {
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  padding: 7px 30px;
  border: solid 2px var(--color-danger);
  border-radius: 25px;
  color: var(--color-danger);
  text-decoration: underline solid 2px white;  
  transition: all ease-in-out 0.3s;
  text-align: center;
}
.signup:hover {
  border: solid 2px var(--color-danger);
  background-color: var(--color-danger);
  border-radius: 25px;
  color: white;
}
@media (min-width: 1214px) { 
  .menu {
    display: none;
  }
}
